@import "./theme.css";

:root {
  font-family: Arial, Helvetica, sans-serif;

  color: var(--color-text);
  background-color: var(--color-background);

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;

  background-color: var(--color-background);
}

body {
  min-width: 320px;

  min-height: 100vh;
  min-height: 100dvh;

  color: var(--color-text);
  background-color: var(--color-background);

  line-height: 1.5;

  overflow-x: hidden;
  overflow-x: clip;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
}

.page-content {
  min-height: 70vh;
}

/* ========================================
   NOTEBOOK Y ESCRITORIO PEQUEÑO
======================================== */

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

/* ========================================
   MONITORES GRANDES
======================================== */

@media (min-width: 1400px) {
  html {
    font-size: 17px;
  }
}

/* ========================================
   TABLET Y MÓVIL
======================================== */

@media (max-width: 760px) {
  .page-content {
    min-height: 60vh;
  }
}
